.toggle-button{
    width:30px;
    height:25px;
    background:transparent;
    border:none;
    cursor:pointer;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding:0;
    box-sizing:border-box;

}
.toggle-button:focus {
    outline:none;
}
.toggle-button-line {
    background-color:white;
    width:30px;
    height:1px;


}